---
import LegalPageLayout from "../../www/layouts/LegalPageLayout.astro"
---

<LegalPageLayout
	title="Page Not Found - Tilly"
	description="The page you're looking for doesn't exist."
	locale="en"
>
	<h1>Page Not Found</h1>
	<p>The page you're looking for doesn't exist.</p>
	<p>
		<a href="/en/">Go back home</a> or <a href="/app">open the app</a>.
	</p>
</LegalPageLayout>